
<div class="modal fade modal-xl" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModal8" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Pola</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Pola, officially the Municipality of Pola (Tagalog: Bayan ng Pola), is a 3rd class municipality in the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 35,455 people. It is 74 kilometres (46 mi) from Calapan.
            <br><br>
            Pola is known as the birthplace of former vice president and veteran news anchor Noli de Castro, actor and current Oriental Mindoro vice governor Ejay Falcon, ABS CBN News Senior Reporter and anchor Dennis Datu and DZMM Broadcaster and field reporter Noel Alamar.
            <br><br>
            <b>Etymology</b>
            <br>
            Its name was derived from the color of the soil in the locality, which is reddish clay. In Tagalog, this is called "pula". This name persisted until the Spaniards arrived and embraced it as the name of the town. The Poblacion is located at the estuary of the Casiligan River, surrounded by abundant green mountain ranges and rocky hills to the west, Hence, the people are given a conducive refuge for agriculture, fishing, and nipa weaving.
            <br><br>
            <b>Geography</b>
            <table class="table table-dark table-striped table-hover">
              <tbody>
                <tr>
                  <th>Population</th>
                  <th>35,455</th>
                </tr>
                <tr>
                  <th>Households</th>
                  <th>8,965</th>
                </tr>
                <tr>
                  <th>Total Area</th>
                  <th>159.34 km2 (62.52 sq mi)</th>
                </tr>
              </tbody>
            </table>
            <b>Barangays</b>
            <br>
            Pola is politically subdivided into 23 barangays. Each barangay consists of puroks and some have sitios.
            <ul>
              <li>Bacauan</li>
              <li>Bacungan</li>
              <li>Batuhan</li>
              <li>Bayanan</li>
              <li>Biga</li>
              <li>Buhay na Tubig</li>
              <li>Calubasanhon</li>
              <li>Calima</li>
              <li>Casiligan</li>
              <li>Malibago</li>
              <li>Maluanluan</li>
              <li>Matulatula</li>
              <li>Pahilahan</li>
              <li>Panikihan</li>
              <li>Zone I (Poblacion)</li>
              <li>Zone II (Poblacion)</li>
              <li>Pula</li>
              <li>Puting Cacao</li>
              <li>Tagbakin</li>
              <li>Tagumpay</li>
              <li>Tiguihan</li>
              <li>Campamento</li>
              <li>Misong</li>
            </ul>
          </p>
          <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Pola,_Oriental_Mindoro"</p>
          <h3 class="fs-6">TVIs in Pola</h3>
          There are no current TVI residing in Pola.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>