
<div class="modal fade modal-xl" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModal5" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Naujan</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
              Naujan (Filipino pronunciation: [naʔuˈhan] naʔ-OO-han), officially the Municipality of Naujan (Tagalog: Bayan ng Naujan), is a 1st class municipality in the province of Oriental Mindoro, Philippines. Its population was 109,587 at the 2020 census.
              <br><br>
              <b>History</b>
              <br>
              On January 4, 1905, under Act 1280, Naujan assumed the status of a full-fledged municipality. Its boundaries were permanently established in 1919.
              <br><br>
              <b>Geography</b>
              It covers a land area of 50,310 hectares (124,300 acres), making it the largest municipality in the province and accounting for 12% of the province's total land area. Naujan is 26 kilometres (16 mi) from Calapan.
              <table class="table table-dark table-striped table-hover">
                <tbody>
                  <tr>
                    <th>Population</th>
                    <th>109,587 as of 2020 census</th>
                  </tr>
                  <tr>
                    <th>Households</th>
                    <th>26,504</th>
                  </tr>
                  <tr>
                    <th>Total Area</th>
                    <th>503.10 km2 (194.25 sq mi)</th>
                  </tr>
                </tbody>
              </table>
              <b>Barangays</b>
              <br>
              Naujan is politically subdivided into 71 barangays. Each barangay consists of puroks and some have sitios.
              <ul>
                <li>Adrialuna</li>
                <li>Andres Ylagan (Mag-asawang Tubig)</li>
                <li>Antipolo</li>
                <li>Apitong</li>
                <li>Arangin</li>
                <li>Aurora</li>
                <li>Bacungan</li>
                <li>Bagong Buhay</li>
                <li>Balite</li>
                <li>Bancuro</li>
                <li>Banuton</li>
                <li>Barcenaga</li>
                <li>Bayani</li>
                <li>Buhangin</li>
                <li>Caburo</li>
                <li>Conception</li>
                <li>Dao</li>
                <li>Del Pilar</li>
                <li>Estrella</li>
                <li>Evangelista</li>
                <li>Gamao</li>
                <li>General Esco</li>
                <li>Herrera</li>
                <li>Inarawan</li>
                <li>Kalinisan</li>
                <li>Laguna</li>
                <li>Mabini</li>
                <li>Magtibay</li>
                <li>Mahabang Parang</li>
                <li>Malabo</li>
                <li>Malaya</li>
                <li>Malinao</li>
                <li>Malvar</li>
                <li>Masagana</li>
                <li>Masaguing</li>
                <li>Melgar A</li>
                <li>Melgar B</li>
                <li>Metolza</li>
                <li>Montelago</li>
                <li>Montemayor</li>
                <li>Motoderazo</li>
                <li>Mulawin</li>
                <li>Nag-Iba I</li>
                <li>Nag-Iba II</li>
                <li>Pagkakaisa</li>
                <li>Paitan</li>
                <li>Paniquian</li>
                <li>Pinagsabangan I</li>
                <li>Pinagsabangan II</li>
                <li>Pinahan</li>
                <li>Poblacion I (Barangay I)</li>
                <li>Poblacion II (Barangay II)</li>
                <li>Poblacion III (Barangay III)</li>
                <li>Sampaguita</li>
                <li>San Agustin I</li>
                <li>San Agustin II</li>
                <li>San Andres</li>
                <li>San Antonio</li>
                <li>San Carlos</li>
                <li>San Isidro</li>
                <li>San Jose</li>
                <li>San Luis</li>
                <li>San Nicolas</li>
                <li>San Pedro</li>
                <li>Santa Cruz</li>
                <li>Santa Isabel</li>
                <li>Santa Maria</li>
                <li>Santiago</li>
                <li>Santo Nino</li>
                <li>Tagumpay</li>
                <li>Tigkan</li>
              </ul>
              <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Naujan"</p>
                <h3 class="fs-6">TVIs in Naujan</h3>
                <ul>
                  <li>Agrigold Farm</li>
                  <li>ATI-MIMAROPA Demo Farm</li>
                  <li>Catly's Agricultural Learning Center</li>
                  <li>Colegio de Naujan</li>
                  <li>Dalisay Learning Center Incorporated operating under the name of Dalisay Learning Center</li>
                  <li>DJMV Farm</li>
                  <li>DJMV Farm Corporation</li>
                  <li>First Asian Cognizance Executive Training Institute (FACET Institute) Corp.</li>
                  <li>Longfield Agricultural Learning Center</li>
                  <li>Longfield Agricultural Learning Center Inc.</li>
                  <li>MAFTII Learning Center</li>
                  <li>Marqcha Agricultural Learning Center</li>
                  <li>Marqcha Agricultural and Technical Learning Center Inc.</li>
                  <li>Mindoro Agri-Tourism Farm and Technological Institute Inc.</li>
                </ul>
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>