
<div class="modal fade modal-xl" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModal9" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Pinamalayan</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Pinamalayan, officially the Municipality of Pinamalayan (Tagalog: Bayan ng Pinamalayan), is a 1st class municipality in the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 90,383 people.
            <br><br>
            Pinamalayan is 70 kilometres (43 mi) from Calapan.
            <br><br>
            <b>Etymology</b>
            <br>
            The town of Pinamalayan is close to the shore at the mouth of the river of the same name. The town's name was said to be taken from the word “Ipinamalay na” which means to make aware or to show the way or it has been made known to us. According to an old story, the early settlers of this town came from Marinduque. While they were on their way to Mindoro in their big bancas (boats), they encountered turbulent weather and lost their way. They prayed to the God Almighty for deliverance and guidance, whereupon, the weather cleared and a rainbow appeared on the horizon, and guided them towards safety and to a place where they discovered abundant resources and endless promises. The crew shouted “ipinamalay na” (it was made known).
            <br><br>
            Read more <a href="https://en.wikipedia.org/wiki/Pinamalayan">click here.</a>
            <br><br>
            <b>History</b>
            <br>
            The town of Pinamalayan is one of the oldest in the province of Oriental Mindoro. Its territory once went as far as the old settlements of Sumagui and Anilao which are now part of the towns Bansud and Bongabong respectively. The Town of Pinamalayan was also a former part of Pola until it got its permanent township status in the early years of American Colonization while Gloria was separated from Pinamalayan in 1964.
            <br><br>
            Read more about the history of Pinamalayan <a href="https://en.wikipedia.org/wiki/Pinamalayan">click here.</a>
            <br><br>
            <b>Geography</b>
            <br>
            The town of Ipinamalay (now Pinamalayan) is close to the shore on the river of the same name about 2-3/4 miles- south-westward of Bugot Point. The Pinamalayan River whose source originates from the mountains north of the town empties at the mouth of the old Lumang-Bayan River. Stretching from Mount Dumali in the north-eastern part of the island high and prominent, the coastal trends southward with a succession of sweeping curves towards Pinamalayan Bay to Duyagan Point.
            <br><br>
            The town is bounded on the north by Babahurin Hill and extends towards the north-west which meets the town of Pola. Towards the south and north, the town lies on an extensive plain and is low and flat towards the south direction to Balete and up to the boundary of Bongabon. About 90% of its area is located on its level plain which extends into the interior. It is intersected by three rivers, namely; the Lumangbayan, the Balete and the Pula Rivers which are short and never navigable. The town is exposed to the north-east monsoon, but with the mountain facing north, it is safe from that direction.
            <table class="table table-dark table-striped table-hover">
              <tbody>
                <tr>
                  <th>Population</th>
                  <th>90,383</th>
                </tr>
                <tr>
                  <th>Households</th>
                  <th>21,322</th>
                </tr>
                <tr>
                  <th>Total Area</th>
                  <th>282.26 km2 (108.98 sq mi)</th>
                </tr>
              </tbody>
            </table>
            <b>Barangays</b>
            <br>
            Pinamalayan is politically subdivided into 37 Barangays. Each barangay consists of puroks and some have sitios.
            <ul>
              <li>Anoling</li>
              <li>Bacungan</li>
              <li>Bangbang</li>
              <li>Banilad</li>
              <li>Buli</li>
              <li>Cacawan</li>
              <li>Calingag</li>
              <li>Delrazon</li>
              <li>Guinhawa</li>
              <li>Inclanay</li>
              <li>Lumambayan</li>
              <li>Malaya</li>
              <li>Maliancog</li>
              <li>Maningcol</li>
              <li>Marayos</li>
              <li>Marfrancisco</li>
              <li>Nabuslot</li>
              <li>Pagalagala</li>
              <li>Palayan</li>
              <li>Pambisan Munti</li>
              <li>Panggulayan</li>
              <li>Papandayan</li>
              <li>Pili</li>
              <li>Quinabigan</li>
              <li>Ranzo</li>
              <li>Rosario</li>
              <li>Sabang</li>
              <li>Sta. Isabel</li>
              <li>Sta. Maria</li>
              <li>Sta. Nino</li>
              <li>Wawa</li>
              <li>Zone I</li>
              <li>Zone II</li>
              <li>Zone III</li>
              <li>Zone IV</li>
            </ul>
            <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Pinamalayan"</p>
            <h3 class="fs-6">TVIs in Pinamalayan</h3>
            <ul>
              <li>8finity Skills and Learning Center Inc.</li>
              <li>Maria Philiza Farm</li>
              <li>Mid-Eastern School of Arts and Trades (MSAT), Inc.</li>
              <li>Pinamalayan Maritime Foundation and Technological College Inc.</li>
              <li>Super M School of Science and Technology (SMSST), Inc.</li>
            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>