
<div class="modal fade modal-xl" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Baco</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
              Baco, officially the Municipality of Baco (Tagalog: Bayan ng Baco), is a 3rd class municipality in the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 39,817 people.
              <br><br>
              <b>History</b>
              The name “Baco” of the municipality rooted from two different Filipino words. The first is its origin from the word, “paco”, an edible fern reported to be abundant in the municipality. Its second origin, as told from folk stories by the elders, was from the word “baku-bako”, which means rough road. It used to describe the municipality for its road potholes due to frequent flooding calamities. Folk stories would claim that heavy rains would last in a span of three to four days.
              <br><br>
              <b>Folktales</b>
              <br>
              Baco is frequently affected by heavy rains and floods. There are several existing folktales to explain the frequent occurrence of floods in the municipality. One folktale consists of an old man who was denied of his request for water to drink. There was once a story of an area in Baco wherein an old thirsty man roamed looking for drinking water. He continually begged for water however no one came to his assistance to relieve him of his thirst. He was denied and instead chased him away. As he was about to leave, he cursed the locals saying, “You will be having water abundantly.” As time continued to pass, Baco has been a frequent catch basin of heavy rainfalls.
              <br><br>
              Another famous folktale of the municipality is about the early church of Baco and a priest who cursed the town. After the church was established, a Moro named Magyawi arrived. The convent was his residence and asked the priest to officiate masses only whenever he was around. Magyawi decided one day to go for hunting. As Magyawi enjoyed hunting for wild animals, his stay in the forest was extended. Due to this, the priest grew weary of waiting for Magyawi and decided on his own will to officiate the mass without him. On the arrival of Magyawi, he was furious with the violation of the priest. He then tied up the priest and placed him inside the crate. The missionary was confined without food. Unsatisfied with this punishment, Magyawi tied a big bell to the crate and threw it into the river. However, before being thrown into the river, the priest vowed and said, “This town will never prosper unless one natural born Bacoeño becomes a priest.”
              <br><br>
              Read more about the Municipality <a href="https://en.wikipedia.org/wiki/Baco,_Oriental_Mindoro">click here.</a>
              <br><br>
              <b>Geography</b>
              <br>
              Baco, Oriental Mindoro is a third-class municipality situated in the northern part of Oriental Mindoro approximately 120.93° East to 13.49° North and 121.19° West to 13.14° South. It is bounded by Subaan Bay in the North, Municipality of San Teodoro on the West, City of Calapan on the East, and Municipality of Santa Cruz, Occidental Mindoro on the South. The Municipality of Baco is a fifteen-minute drive away from the City of Calapan by land.
              <br><br>
              The municipality of Baco is composed of 27 barangays with a total land area of 31,126.023 hectares. The three largest barangays are San Ignacio, Lantuyang, and Bayanan which cover 22.75 percent, 22.40 percent, and 22.12 percent of the total land area, respectively. These barangays comprise most of the forestland area of the municipality. The smallest barangay with only 0.26 percent of the total land area of the municipality is Pulantubig.
              <table class="table table-dark table-striped table-hover">
                <tbody>
                  <tr>
                    <th>Population</th>
                    <th>39,817 as of 2020 census</th>
                  </tr>
                  <tr>
                    <th>Households</th>
                    <th>9,182</th>
                  </tr>
                  <tr>
                    <th>Total Area</th>
                    <th>216.23 km2 (83.49 sq mi)</th>
                  </tr>
                </tbody>
              </table>
              <b>Barangays</b>
              <br>
              <ul>
                <li>Alag</li>
                <li>Bangkatan</li>
                <li>Baras (Mangyan Minority)</li>
                <li>Bayanan</li>
                <li>Burduli</li>
                <li>Dulangan-I</li>
                <li>Dulangan-II</li>
                <li>Katuwiran_I</li>
                <li>Katuwiran-II</li>
                <li>Lantuyang (Mangyan Minority)</li>
                <li>Lumangbayan</li>
                <li>Malapad</li>
                <li>Mangangan 1</li>
                <li>Mangangan 2</li>
                <li>Mayabig</li>
                <li>Pambisan</li>
                <li>Poblacion</li>
                <li>Pulantubig</li>
                <li>PuticanCabulo</li>
                <li>San Andres</li>
                <li>San Ignacio</li>
                <li>Sta. Cruz</li>
                <li>Sta. Rosa I</li>
                <li>Sta. Rosa II</li>
                <li>TabonTabon</li>
                <li>Tagumpay</li>
                <li>Water</li>
              </ul>
              <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Baco,_Oriental_Mindoro"</p>
              <h3 class="fs-6">TVIs in Baco</h3>
              <ul>
                <li>Aceveda Learning Center (ALC) Inc.</li>
                <li>Baco Agri-Tech Training Center Inc.</li>
                <li>First Halcon Integrated Learning Center (Fhil) Inc.</li>
              </ul>
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>