
<div class="modal fade modal-xl" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModal4" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Calapan City</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Calapan, officially the City of Calapan (Filipino: Lungsod ng Calapan), is a 3rd class component city and the capital of the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 145,786 people making it the most populous in Oriental Mindoro and second in the entire Mindoro Island after San Jose in Occidental Mindoro.[3] The city is also the regional center of Mimaropa region, as well as its second biggest city (after Puerto Princesa).
            <br><br>
            The city serves as the gateway to the Oriental Mindoro province with the implementation of the Strong Republic Nautical Highway (SRNH) an integrated ferry project of then President Gloria Macapagal Arroyo that extends further to the southern part of the Philippines. The Calapan City Seaport is the largest and busiest seaport on Mindoro Island, which is just 45 minutes away by ferry boats and roll-on/roll-off (RORO) ships to and from Batangas City International Seaport.
            <br><br>
            Calapan is the only city in Mindoro island and it is one of two cities in the Mimaropa region, the other being Puerto Princesa in Palawan. Calapan serves as the region's administrative center.[5] It is also the center of commerce, industry, transport, communication, religious activities and education in the entire province of Oriental Mindoro.
            <br><br>
            Since the late 90s, Calapan City experienced rapid urbanization and development and is now a bustling city with numerous Malls, Fast-food chains, Higher Educational Institutions, Business Process Outsourcing(BPOs) and is also home to Regional and National Government offices being Calapan City is the Regional Government Center of MIMAROPA Region. With its estimated population to be at 150,000+(2023), its low poverty incidence rate and High purchasing power, Different National and International Brands/Companies are rushing to open up business and expand their Investment in the city.
            <br><br>
            Calapan City is also home to the Largest Passenger Port terminal in The country and is the Busiest Passenger port in the Region with Foot Traffic reaching in Millions Annually.
            <br><br>
            Read more about the City of Calapan <a href="https://en.wikipedia.org/wiki/Calapan">click here.</a>
            <br>
            <b>Geography</b>
            <br>
            Calapan is bounded to the north and north-east by the Calapan Bay, south and southeast by Naujan, and to the west by the Baco. The city lies at the quadrangle bounded by 13°12.6 and 13°27’ north latitudes and 121°17’ east longitudes. It is approximately 28 nautical miles (52 km; 32 mi) from the nearest point of Batangas, 45 kilometres (28 mi) south of Batangas City and 130 kilometres (81 mi) south of Manila.
            <br><br>
            The city has an area of 250.06 km2 (96.55 sq mi) and is composed of 62 barangays of which 22 are classified as urban and 40, rural. The city also has jurisdiction over the Baco Islands and the two Silonay Islets on Calapan Bay.
            <br><br>
            The overall land characteristic is a wide plain with rivers, interspersed with wetlands at the seacoast periphery. The highest elevation is 187 m (614 ft) above sea level at Bulusan Hill, a 6-kilometre (3.7 mi) long landform east of the city, which interrupts the mostly flat terrain north-east of the Halcon-Baco Mountain Range.
            <table class="table table-dark table-striped table-hover">
              <tbody>
                <tr>
                  <th>Population</th>
                  <th>145,785 as of 2020 census</th>
                </tr>
                <tr>
                  <th>Households</th>
                  <th>35,147</th>
                </tr>
                <tr>
                  <th>Total Area</th>
                  <th>250.06 km2 (96.55 sq mi)</th>
                </tr>
              </tbody>
            </table>
            <b>Barangays</b>
            <br>
            Calapan is divided into 62 barangays. Each barangay consists of puroks and some have sitios.
            <br><br>
            These barangays are grouped into congressional districts where each district is represented by a congressman in the country's House of Representatives.
            <ul>
              <li>Balingayan</li>
              <li>Balite</li>
              <li>Baruyan</li>
              <li>Batino</li>
              <li>Bayanan I</li>
              <li>Bayanan II</li>
              <li>Biga</li>
              <li>Bondoc</li>
              <li>Bucayao</li>
              <li>Buhuan</li>
              <li>Bulusan</li>
              <li>Calero</li>
              <li>Camansihan</li>
              <li>Camilmil</li>
              <li>Canubing I</li>
              <li>Canubing II</li>
              <li>Comunal</li>
              <li>Guinobatan</li>
              <li>Gulod</li>
              <li>Gutad</li>
              <li>Ibaba East</li>
              <li>Ibaba West</li>
              <li>Ilaya</li>
              <li>Lalud</li>
              <li>Lazareto</li>
              <li>Libis</li>
              <li>Lumangbayan</li>
              <li>Mahal na Pangalan</li>
              <li>Maidlang</li>
              <li>Malad</li>
              <li>Malamig</li>
              <li>Managpi</li>
              <li>Masipit</li>
              <li>Nag-Iba I</li>
              <li>Nag-Iba II</li>
              <li>Navotas</li>
              <li>Pachoca</li>
              <li>Palhi</li>
              <li>Panggalaan</li>
              <li>Parang</li>
              <li>Patas</li>
              <li>Personas</li>
              <li>Puting Tubig</li>
              <li>San Antonio</li>
              <li>San Raphael (formerly Salong)</li>
              <li>San Vicente Central</li>
              <li>San Vicente East</li>
              <li>San Vicente North</li>
              <li>San Vicente South</li>
              <li>San Vicente West</li>
              <li>Sapul</li>
              <li>Silonay</li>
              <li>Sta. Cruz</li>
              <li>Sta. Isabel</li>
              <li>Sta. Maria Village</li>
              <li>Sta. Rita</li>
              <li>Sto. Niño (formerly Nacoco)</li>
              <li>Suqui</li>
              <li>Tawagan</li>
              <li>Tawiran</li>
              <li>Tibag</li>
              <li>Wawa</li>
            </ul>
            <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Calapan"</p>
              <h3 class="fs-6">TVIs in the City of Calapan</h3>
              <ul>
                <li>Absolute Health Care Institute - Calapan, Mindoro Inc.</li>
                <li>Academia Training and Assessment Center Inc.</li>
                <li>Advanced Skills Training and Education Services, Inc.</li>
                <li>AMA Computer Learning Center of Calapan, Oriental Mindoro Inc.</li>
                <li>Asian Career and Skills Enhancement Training Center Inc.</li>
                <li>BCRV Tech-Voc, Inc.</li>
                <li>Capella Arts Technical and Vocational Institute Inc.</li>
                <li>Daniella Rose Ashlie Institute of Science and Technology, (DIST) Inc.</li>
                <li>Divine Word College of Calapan, Inc.</li>
                <li>El Prado Training School and Assessment Center Inc.</li>
                <li>Greenville Agricultural and Technical Training Institute (GREAT Institute) Inc.</li>
                <li>Guruz Skills Training and Development Institute, Inc.</li>
                <li>Infinity Technical Vocational School Inc.</li>
                <li>Language Skills Institute of Oriental Mindoro</li>
                <li>Lasquety Farm</li>
                <li>Lorent and Roslie Verej Skills and Training Institute Inc.</li>
                <li>Mahalta Academy Training and Assessment Center Corp.</li>
                <li>Mary Help of Christians School (Mindoro), Inc.</li>
                <li>Mindoro Merchant Marine School Inc.</li>
                <li>Multi Source Global Network Inc. doing business under the name and style of ISEARCH PLUS</li>
                <li>RLA Agricultural Learning Center</li>
                <li>College of Maritime, Business and Technology Inc.</li>
                <li>St. Mark Arts and Training Institute Inc.</li>
                <li>Tamaraw Contact Solutions Training Center Inc.</li>
                <li>WCL Pharma Training and Assessment Center Corp.</li>
              </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>