
<div class="modal fade modal-xl" id="exampleModal14" tabindex="-1" aria-labelledby="exampleModal14" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Bulalacao</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Bulalacao, officially the Municipality of Bulalacao (Tagalog: Bayan ng Bulalacao, Hiligaynon: Banwa sang Bulalacao), is a 3rd class municipality in the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 44,366 people.
            <br><br>
            It is formerly known as San Pedro.
            <br><br>
            <b>History</b>
            <br>
            Don Gabriel Contreras – Gobernadorcillo and Capitan Municipal. One of the rulers of Bulalacao under Spanish rule[6] The territory of Bulalacao was formerly raided by Datu (Prince) Calido of Panay. The Contreras family administered over Bulalacao as Panginoon Basal/Punong Datu before the conquest of Spain.
            <br><br>
            Since the founding of the First Republic, Bulalacao has predominantly been administered by descendants of Don Gabriel Contreras. The lands composing the present Municipality of Bulalacao was previously the hacienda of the Contreras family.[7] Their collateral familial lines (Sejera, Templanza, Fajardo, etc.) also once held vast haciendas throughout the island of Mindoro.
            <br><br>
            Bulalacao, with a natural harbor, is one of the places theorized by anthropologists and archaeologists to be the location of the ancient wangdom of Ma-i. In the late 1970s, several jade Chinese porcelain vases were found in Bulalacao, further corroborating the theory.
            <br><br>
            On May 7, 1995, reelectionist Mayor Guillermo Salas was assassinated a day before the 1995 election by Rodel Gonzales of the Mangyan tribe; Gonzales eventually surrendered to authorities five days later, confessing to the crime.
            <br><br>
            <b>Geography</b>
            <br>
            Bulalacao is located at the southernmost tip of the province and is 176 kilometres (109 mi) from the provincial capital Calapan and 50 kilometres (31 mi) from Roxas.
            <table class="table table-dark table-striped table-hover">
              <tbody>
                <tr>
                  <th>Population</th>
                  <th>44,366 as of 2020 census</th>
                </tr>
                <tr>
                  <th>Households</th>
                  <th>9,865</th>
                </tr>
                <tr>
                  <th>Total Area</th>
                  <th>321.86 km2 (124.27 sq mi)</th>
                </tr>
              </tbody>
            </table>
            <b>Barangays</b>
            <br>
            Bulalacao is politically subdivided into 15 barangays. Each barangay consists of puroks and some have sitios.
            <ul>
              <li>Bagong Sikat</li>
              <li>Balatasan</li>
              <li>Benli (Mangyan Settlement)</li>
              <li>Cabugao</li>
              <li>Cambunang (Poblacion)</li>
              <li>Campasan (Poblacion)</li>
              <li>Maasin</li>
              <li>Maujao</li>
              <li>Milagrosa (Guiob)</li>
              <li>Nasukob (Poblacion)</li>
              <li>Poblacion</li>
              <li>San Francisco (Alimawan)</li>
              <li>San Isidro</li>
              <li>San Juan</li>
              <li>San Roque (Buyayao)</li>
            </ul>
            <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Bulalacao"</p>
            <h3 class="fs-6">TVIs in Bulalacao</h3>
            <ul>
              <li>Archipelago Philippine Seafarers Training Institute Inc.</li>
              <li>Bulalacao Technical and Vocational College</li>
            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>