

<div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Puerto Galera</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
              Puerto Galera, officially the Municipality of Puerto Galera (Filipino: Bayan ng Puerto Galera), is a 1st class municipality in the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 41,961 people.
              <br><br>
              It is mainly accessible from the Southern Luzon gateway port of Batangas by bamboo boats (bangka) operated by local regular operators. Seaplane Operator Air Juan Aviation, Inc. flies two daily flights from Manila to Puerto Galera on their Cessna Grand Caravan Seaplanes.
              <br><br>
              Chinese traders possibly knew the place before the arrival of the Spaniards but there is no evidence of Chinese settlement. The place was likely also known by other Southeast Asian merchants, who would have found it convenient to load and unload trading goods. The bay was a convenient place to shelter ships against bad weather, and a warehouse was built to store supplies and trade black rice from Muelle.
              <br><br>
              In April 1570, the Spaniards arrived in Bombon (now known as Batangas), and later sailed through the Isla Verde Passage, landed and called the place Puerto Galera (the port of Galleons). Miguel López de Legazpi became the first Spanish governor-general of the island. A garrison for soldiers was built in Muelle, and watch towers were erected in Dampalitan Point to monitor naval activity in the bay. Spaniards came to conquer for their king and chased the Muslim Moro pirates who were disrupting their trade with the Chinese and natives. The latter proved to be not only skilled warriors but also good negotiators even in the face of defeat.
              <br><br>
              In 1663, a change in the form of administration occurred in the island, the corregidor was replaced by the alcalde-mayor or provincial governor, and the capital was moved from Puerto Galera to Baco. In the seventeenth century, the relative prosperity of the city underwent a serious setback with the rise of Muslim piracy.[7] Both pirates attacks and the mismanagement of the Spaniards resulted in driving the native population either into exile in safer places or sending them inland to comparative safety.
              <br><br>
              <b>Geography</b>
              <br>
              Puerto Galera is located at the north-westernmost part of Oriental Mindoro, and at the south-western end of the Isla Verde Passage, about 130 kilometres (81 mi) south of Manila and 51 kilometres (32 mi) from Calapan, the provincial capital.
              <table class="table table-dark table-striped table-hover">
                <tbody>
                  <tr>
                    <th>Population</th>
                    <th>41,961 as of 2020 census</th>
                  </tr>
                  <tr>
                    <th>Households</th>
                    <th>9,944</th>
                  </tr>
                  <tr>
                    <th>Total Area</th>
                    <th>247.85 km2 (95.70 sq mi)</th>
                  </tr>
                </tbody>
              </table>
              <b>Barangays</b>
              <br>
              Puerto Galera is politically subdivided into 13 barangays. Each barangay consists of puroks and some have sitios.
              <br>
              <ul>
                  <li>Aninuan</li>
                  <li>Baclayan</li>
                  <li>Balatero</li>
                  <li>Dulangan</li>
                  <li>Palangan</li>
                  <li>Poblacion</li>
                  <li>Sabang</li>
                  <li>San Antonio</li>
                  <li>San Isidro</li>
                  <li>Santo Niño</li>
                  <li>Sinandigan</li>
                  <li>Tabinay</li>
                  <li>Villaflor</li>
              </ul>
              <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Puerto_Galera"</p>
              <h3 class="fs-6">TVIs in Puerto Galera</h3>
              <ul>
                  <li>Modern and Advance Technical Training Institute Corporation</li>
                  <li>Municipal Development Technical and Vocational Institute (MDTVI)</li>
                  <li>Puerto Galera Training and Assessment Center Inc.</li>
              </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>