
<div class="modal fade modal-xl" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModal12" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Bongabong</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Bongabong, officially the Municipality of Bongabong (Tagalog: Bayan ng Bongabong), is a 1st class municipality in the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 76,973 people.
            <br><br>
            The town is home to Kuta Bongabong (Fuerza de Bongabong), one of the oldest Spanish colonial fortifications in the Philippines. The fort is in dire need of proper conservation. The only agency with the proper capabilities to restore the fort is the National Museum of the Philippines.
            <br><br>
            <b>Geography</b>
            <br>
            Bongabong is 104 kilometres (65 mi) from Calapan, the provincial capital.
            <table class="table table-dark table-striped table-hover">
              <tbody>
                <tr>
                  <th>Population</th>
                  <th>76,973 as of 2020 census</th>
                </tr>
                <tr>
                  <th>Households</th>
                  <th>18,568</th>
                </tr>
                <tr>
                  <th>Total Area</th>
                  <th>498.20 km2 (192.36 sq mi)</th>
                </tr>
              </tbody>
            </table>
            <b>Barangays</b>
            <br>
            Bongabong is politically subdivided into 36 barangays. Each barangay consists of puroks and some have sitios.
            <ul>
              <li>Anilao</li>
              <li>Aplaya</li>
              <li>Bagong Bayan I</li>
              <li>Bagong Bayan II</li>
              <li>Batangan</li>
              <li>Camantigue</li>
              <li>Bukal</li>
              <li>Carmundo</li>
              <li>Cawayan</li>
              <li>Dayhagan</li>
              <li>Formon</li>
              <li>Hagan</li>
              <li>Hagupit</li>
              <li>Ipil</li>
              <li>Kaligtasan</li>
              <li>Labasan</li>
              <li>Labonan</li>
              <li>Libertad</li>
              <li>Lisap</li>
              <li>Luna</li>
              <li>Malitbog</li>
              <li>Mapang</li>
              <li>Masaguisi</li>
              <li>Mina de Oro</li>
              <li>Morente</li>
              <li>Ogbot</li>
              <li>Orconuma</li>
              <li>Poblacion</li>
              <li>Pulosahi</li>
              <li>Sagana</li>
              <li>San Isidro</li>
              <li>San Jose</li>
              <li>San Juan</li>
              <li>Sta. Cruz</li>
              <li>Sigange</li>
              <li>Tawas</li>
            </ul>
            <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Bongabong"</p>
            <h3 class="fs-6">TVIs in Bongabong</h3>
            <ul>
              <li>Eastern Mindoro College Inc.</li>
              <li>KLM Eureka Technical College Inc.</li>
            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>