
<div class="modal fade modal-xl" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModal10" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Gloria</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Gloria, officially the Municipality of Gloria (Tagalog: Bayan ng Gloria), is a 3rd class municipality in the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 50,496 people.
            <br><br>
            The town was previously a barangay called Maligaya, the largest barangay during the administration of President Diosdado Macapagal. Local politicians, led by former guerrilla chief Nicolas Jamilla, Sr., battled for the conversion of Maligaya into a new town. They renamed it after the ten-year-old daughter of the President, Gloria Macapagal Arroyo, who later on herself became the fourteenth President in 2001. Jamilla became the first mayor of the town, which kept the old name "Maligaya" as the name of a barangay in the poblacion.
            <br><br>
            <b>History</b>
            Gloria was once part of the municipality of Pinamalayan. In 1915, migrant families from Marinduque settled in Barrio Tambong, and in 1930, when a national road was built through Pinamalayan, they moved west and occupied the area along this road. Tambong was later divided into two barrios: the first retained the original name, while the second was called Maligaya (meaning "happy"), alluding to the settlers' happiness at the bountiful yield of their agricultural crops.
            <br><br>
            Read more about the history of Gloira, <a href="https://en.wikipedia.org/wiki/Gloria,_Oriental_Mindoro">click here.</a>
            <br><br>
            <b>Geography</b>
            <br>
            Gloria is located 77 kilometres (48 mi) from the provincial capital, Calapan.
            <br><br>
            It is one of the 7 towns comprising Oriental Mindoro's second district. On its north lies its mother town Pinamalayan, on the west is the town of Sablayan in Occidental Mindoro. On the south is the town of Bansud, while on the east is the Tablas Strait.
            <table class="table table-dark table-striped table-hover">
              <tbody>
                <tr>
                  <th>Population</th>
                  <th>50,496</th>
                </tr>
                <tr>
                  <th>Households</th>
                  <th>12,050</th>
                </tr>
                <tr>
                  <th>Total Area</th>
                  <th>245.52 km2 (94.80 sq mi)</th>
                </tr>
              </tbody>
            </table>
            <b>Barangays</b>
            <br>
            Gloria is politically subdivided into 27 barangays. Each barangay consists of puroks and some have sitios.
            <br><br>
            Nine (9) barangays are situated along the national highway - Bulaklakan, Maligaya, Kawit, Narra, Balete, Lucio Laurel, G. Antonino, Santa Maria and Banus; six (6) are coastal barangays - Tambong, San Antonio, Santa Theresa, Guimbonan, Maragooc and Agsalin; and twelve (12) interior barangays on the west side - Agos, A. Bonifacio, Alma Villa, Mirayan, Buong Lupa, Malamig, Malubay, M. Adriatico, Papandungin, Malayong, Banutan and Manguyang.
            <ul>
              <li>Agsalin</li>
              <li>Agos</li>
              <li>Alma Villa</li>
              <li>Andres Bonifacio</li>
              <li>Balete</li>
              <li>Banus</li>
              <li>Banutan</li>
              <li>Buong Lupa</li>
              <li>Bulaklakan</li>
              <li>Gaudencio Antonino</li>
              <li>Guimbonan</li>
              <li>Kawit</li>
              <li>Lucio Laurel</li>
              <li>Macario Adriatico</li>
              <li>Malamig</li>
              <li>Malayong</li>
              <li>Maligaya (Poblacion)</li>
              <li>Malubay</li>
              <li>Manguyang</li>
              <li>Maragooc</li>
              <li>Mirayan</li>
              <li>Narra</li>
              <li>Papadungin</li>
              <li>San Antonio</li>
              <li>Santa Maria</li>
              <li>Santa Theresa</li>
              <li>Tambong</li>
            </ul>
            <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Gloria,_Oriental_Mindoro"</p>
            <h3 class="fs-6">TVIs in Gloria</h3>
            <ul>
              <li>Gloria Institute of Science and Technology (GIST)</li>
              <li>Organiko Agricultural and Technical Training Center Inc.</li>
            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>