
<div class="modal fade modal-xl" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModal7" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Socorro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
          Socorro, officially the Municipality of Socorro (Tagalog: Bayan ng Socorro), is a 3rd class municipality in the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 41,585 people.
          <br><br>
          Socorro is located at the junction of the Pola Road and is 61 kilometres (38 mi) from Calapan.
          <br><br>
          <b>History</b>
          <br>
          Socorro was established as a separate municipality on June 22, 1963, with the approval of Republic Act. No. 3609. It was formerly part of Pola.
          <br><br>
          In the last decade of the 20th century and the first decade of the 21st century, many roads were paved, the market rebuilt, and employment rose.
          <br><br>
          <b>Geography</b>
          <table class="table table-dark table-striped table-hover">
            <tbody>
              <tr>
                <th>Population</th>
                <th>41,585</th>
              </tr>
              <tr>
                <th>Households</th>
                <th>9,869</th>
              </tr>
              <tr>
                <th>Total Area</th>
                <th>151.38 km2 (58.45 sq mi)</th>
              </tr>
            </tbody>
          </table>
          <b>Barangays</b>
          Socorro is politically subdivided into 26 barangays. Each barangay consists of puroks and some have sitios.
          <ul>
            <li>Batong Dalig</li>
            <li>Bayuin</li>
            <li>Bugtong Na Tuog</li>
            <li>Calocmoy</li>
            <li>Calubayan</li>
            <li>Catiningan</li>
            <li>Epiz (Bagsok)</li>
            <li>Happy Valley</li>
            <li>La Fortuna (Putol)</li>
            <li>Leuteboro I</li>
            <li>Leuteboro II</li>
            <li>Mabuhay I</li>
            <li>Mabuhay II</li>
            <li>Malugay</li>
            <li>Maria Conception</li>
            <li>Matungao</li>
            <li>Monteverde</li>
            <li>Pasi I</li>
            <li>Pasi II</li>
            <li>Santo Domingo (Lapog)</li>
            <li>Subaan</li>
            <li>Villareal (Daan)</li>
            <li>Zone I (Pob.)</li>
            <li>Zone II (Pob.)</li>
            <li>Zone III (Pob.)</li>
            <li>Zone IV (Pob.)</li>
          </ul>
          <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Socorro,_Oriental_Mindoro"</p>
          <h3 class="fs-6">TVIs in Socorro</h3>
          <ul style="column-count: 1;">
            <li>Farm.Fifty-One Agricultural Learning Center</li>
            <li>International Advanced Technology Education Center (Computer College) Socorro Oriental Mindoro Campus Inc.</li>
            <li>Newpoint Institute of Technology, Inc.</li>
          </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>