
<div class="modal fade modal-xl" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModal11" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Bansud</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Bansud, officially the Municipality of Bansud (Tagalog: Bayan ng Bansud), is a 2nd class municipality in the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 42,671 people.
            <br><br>
            <b>Etymology</b>
            <br>
            The name of the town is said to be derived from a legend. The legend says that long ago the Mangyans, the aborigines of the Mindoro settled in the lands near the mouth of Bansud River, which they called “Basud” which means Delta. The delta provided fertile soil for the people; hence they lived there peacefully and productively until the time that settlers from the province of Marinduque and Visayan Islands moved in. In many years that followed, the word “Basud” was eventually changed to Bansud. And the founder of Bansud is Reverend Leon Mampusti.
            <br><br>
            <b>Geography</b>
            <br>
            Bansud is 90 kilometres (56 mi) from Calapan and 20 kilometres (12 mi) from Pinamalayan.
            <table class="table table-dark table-striped table-hover">
              <tbody>
                <tr>
                  <th>Population</th>
                  <th>42,671 as of 2020 census</th>
                </tr>
                <tr>
                  <th>Households</th>
                  <th>10,003</th>
                </tr>
                <tr>
                  <th>Total Area</th>
                  <th>343.47 km2 (132.61 sq mi)</th>
                </tr>
              </tbody>
            </table>
            <b>Barangays</b>
            <ul>
              <li>Alcadesma</li>
              <li>Bato</li>
              <li>Conrazon</li>
              <li>Malo</li>
              <li>Manihala</li>
              <li>Pag-asa</li>
              <li>Poblacion</li>
              <li>Proper Bansud</li>
              <li>Rosacara</li>
              <li>Salcedo</li>
              <li>Sumagui</li>
              <li>Proper Tiguisan</li>
              <li>Villa Pag-asa</li>
            </ul>
            <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Bansud"</p>
            <h3 class="fs-6">TVIs in Bansud</h3>
            <ul>
              <li>Revitalizing Agri-Tourism Vocational Training Center Inc.</li>
              <li>Simeon Suan Vocational and Technical College</li>
            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>