
<div class="modal fade modal-xl" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModal15" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Roxas</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Roxas, officially the Municipality of Roxas, is a 2nd class municipality in the province of Oriental Mindoro, Philippines. It has a population of 58,849 according to the 2020 census.
            <br><br>
            <b>History</b>
            <br>
            Founded by Andres Torrefiel on November 15, 1948, it was formerly known as Paclasan, originally a part of Bulalacao, Oriental Mindoro, then a barrio of Mansalay, Oriental Mindoro. It was named after President Manuel A. Roxas, the first town to be named as such since his death on April 15, 1948.
            <br><br>
            Marcelo I. Cabrera and Andres E. Torrefiel Sr. who served as mayors of Mansalay. After a meeting held at Mansalay attended by these two leaders with the Congressman of the lone district of the Province of Mindoro, Raul Leuterio, an agreement to separate Paclasan and its sitios from Mansalay as an independent municipality with the seat of government at Paclasan was reached. It was also agreed upon that the newly created municipality be named after the then President of the Republic, Manuel Acuna Roxas. However, it was President Elpidio Quirino, through Executive Order No. 181 dated October 15, 1948 who declared Roxas as an independent town from Mansalay because of the untimely death of President Roxas on April 15, 1948. Although Executive Order No. 18, series of 1948 provided that the creation of the municipality of Roxas was to take effect on November 15, 1948,[5] on account of a storm, it was celebrated on November 16, 1948. On that day, November 16, 1948, a program was held at Paclasan Barrio School with the Bongabon Orchestra playing for the occasion. Speeches were delivered by the then Congressman Raul Leuterio and Governor Conrado Morente. The program was ended by the message of Mr. Andres Estrella Torrefiel Sr. after his appointment and proclamation as Municipal Mayor of the newly created municipality of Roxas, Oriental Mindoro. The program was attended by the barrio lieutenants, the public school teachers, municipal officials and employees and the community people. Paclasan Barrio School was renamed to Roxas Central School. After the program, a meal was served at the residence of Mayor Andres E. Torrefiel Sr.
            <br><br>
            Read more about the history of Roxas <a href="https://en.wikipedia.org/wiki/Roxas,_Oriental_Mindoro">click here.</a>
            <br><br>
            <b>Geography</b>
            <br>
            Located 126 kilometers (78 mi) from the main capital city of Calapan, Roxas is the smallest municipality of Oriental Mindoro, with a total land area of 8,526 hectares (21,070 acres) of up-land, lowland, and coastal areas.
            <br><br>
            The municipal center of Roxas is situated at approximately 12° 35' North, 121° 31' East, in the island of Mindoro. Elevation at these coordinates is estimated at 10.5 meters (34 ft) above mean sea level.
            <table class="table table-dark table-striped table-hover">
              <tbody>
                <tr>
                  <th>Population</th>
                  <th>58,849 as of 2020 census</th>
                </tr>
                <tr>
                  <th>Households</th>
                  <th>13,564</th>
                </tr>
                <tr>
                  <th>Total Area</th>
                  <th>85.26 km2 (32.92 sq mi)</th>
                </tr>
              </tbody>
            </table>
            <b>Barangays</b>
            <br>
            Roxas is politically subdivided into 20 barangays. Each barangay consists of puroks and some have sitios.
            <ul>
              <li>Bagumbayan</li>
              <li>Cantil</li>
              <li>Dangay</li>
              <li>Happy Valley</li>
              <li>Libertad</li>
              <li>Libtong</li>
              <li>Little Tanauan</li>
              <li>Mabuhay</li>
              <li>Maraska</li>
              <li>Odiong</li>
              <li>Paclasan</li>
              <li>San Aquilino</li>
              <li>San Isidro</li>
              <li>San Jose</li>
              <li>San Mariano</li>
              <li>San Miguel</li>
              <li>San Rafael</li>
              <li>San Vicente</li>
              <li>Uyao</li>
              <li>Victoria</li>
            </ul>
            <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Roxas,_Oriental_Mindoro"</p>
            <h3 class="fs-6">TVIs in Roxas</h3>
            <ul>
              <li>Accede Training Center Corporation</li>
              <li>Agritektura Enterprises</li>
              <li>CEMF Cloverleaf9 Learning Center Inc.</li>
              <li>Gelacio I. Yason Foudation-Family Farm School Inc.</li>
              <li>John Paul College Corp.</li>
              <li>MWTESTA Technical Skills Training Center Corporation</li>
              <li>Paradigm College of Science and Technology, Inc.</li>
              <li>Roxas Community College</li>
              <li>Willandaise Agri-Farm School Corporation</li>
              <li>Willandaise Integrated Farm</li>
            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>