
<div class="modal fade modal-xl" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModal13" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Mansalay</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Mansalay, officially the Municipality of Mansalay (Tagalog: Bayan ng Mansalay), is a 2nd class municipality in the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 59,114 people.
            <br><br>
            This town is notable for its indigenous Mangyan population. The municipal hall is located on the upper land of Mansalay Town proper, in front of a Medical Care Hospital. Nearby is the church and the only Catholic School, Mansalay Catholic High School. Santa Catalina is the town's patron saint.
            <br><br>
            The town also has a wide ammonite formation area discovered in the 1940s. Since then, thousands of ammonite fossils have been discovered. Due to the complexity and vastness of the collection found in the area, the town has been called the Ammonite Capital of the Philippines. Various local and international scientific institutions have conducted research on the ammonite formations of Mansalay. Scholars have argued that due to the natural significance of the area to Southeast Asian pre-history, the site has a big chance of being declared as a UNESCO World Heritage Site or a UNESCO Geopark Reserve.[5][6] It is 144 kilometres (89 mi) from Calapan.
            <br><br>
            <b>Geography</b>
            <table class="table table-dark table-striped table-hover">
              <tbody>
                <tr>
                  <th>Population</th>
                  <th>59,114 as of 2020 census</th>
                </tr>
                <tr>
                  <th>Households</th>
                  <th>13,332</th>
                </tr>
                <tr>
                  <th>Total Area</th>
                  <th>446.62 km2 (172.44 sq mi)</th>
                </tr>
              </tbody>
            </table>
            <b>Barangays</b>
            <br>
            Mansalay is politically subdivided into 17 barangays. Each barangay consists of puroks and some have sitios.
            <br><br>
            In 1957, the sitios of Santa Brigida, Santa Maria, Roma, Budburan, and Mahabangsapa were constituted into barrios.
            <ul>
              <li>B. Del Mundo</li>
              <li>Balugo</li>
              <li>Bonbon</li>
              <li>Budburan</li>
              <li>Cabalwa</li>
              <li>Don Pedro</li>
              <li>Maliwanag</li>
              <li>Manaul</li>
              <li>Panaytayan</li>
              <li>Poblacion</li>
              <li>Roma</li>
              <li>Santa Maria</li>
              <li>Santa Teresita</li>
              <li>Sta. Brigida</li>
              <li>Villa Celestial</li>
              <li>Wasig</li>
              <li>Waygan</li>
            </ul>
            <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Mansalay"</p>
            <h3 class="fs-6">TVIs in Mansalay</h3>
            <ul>
              <li>Probaton Institute of Science and Technology, Inc.</li>
              <li>Rada Eco Farm Inc.</li>
            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>