
<div class="modal fade modal-xl" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of San Teodoro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
              San Teodoro, officially the Municipality of San Teodoro (Tagalog: Bayan ng San Teodoro), is a 4th class municipality in the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 19,121 people, making it the least populated municipality in the province.
              <br><br>
              The municipality is classified as partly urban. It has a total land area of 34,100 hectares (84,000 acres). Mineral deposits found in the area are gold and iron.
              <br><br>
              <b>History</b>
              <br>
              The town of San Teodoro was called "Subaan" during the Spanish times however the town center and seat of government was located at what is now Lumangbayan. Officially, Subaan and its neighboring town Baco, were "visitas" of Calapan, the cabecera (capital) of Oriental Mindoro.
              <br><br>
              In 1828, the visita was headed by Gobernadorcillo Ysidro Crisostomo. He was succeeded by Gobernadorcillo Juan Sextol in 1830. When Subaan became a visita del pueblo y cabecera de Puerto Galera in 1840, Candido Fulgencia's position was reduced to "Cabeza de Barangay". This was also the title conferred on Marcelino Crisostomo in 1841.
              <br><br> 
              Read more about the History of San Teodoro <a href="https://en.wikipedia.org/wiki/San_Teodoro,_Oriental_Mindoro">click here</a>
              <br><br>
              <b>Geography</b>
              <br>
              San Teodoro is 32 kilometres (20 mi) west of the province's capital, Calapan, 19 kilometres (12 mi) east from Puerto Galera, and about 140 kilometres (87 mi) south of Philippine capital Manila. It is located on the northern part of Oriental Mindoro. It is bounded to the north by the Verde Island Passage, to the east by Baco, to the west by Puerto Galera, and to the south by Santa Cruz in Occidental Mindoro province.
              <table class="table table-dark table-striped table-hover">
                <tbody>
                  <tr>
                    <th>Population</th>
                    <th>19,121 as of 2020 census</th>
                  </tr>
                  <tr>
                    <th>Households</th>
                    <th>4,511</th>
                  </tr>
                  <tr>
                    <th>Total Area</th>
                    <th>341.00 km2 (131.66 sq mi)</th>
                  </tr>
                </tbody>
              </table>
              <b>Barangays</b>
              <br>
              San Teodoro is politically subdivided into 8 barangays. Each barangay consists of puroks and some have sitios.
              <ul>
                <li>Bigaan</li>
                <li>Calangatan</li>
                <li>Calsapa</li>
                <li>Ilag</li>
                <li>Lumangbayan</li>
                <li>Tacligan</li>
                <li>Poblacion</li>
                <li>Caagutayan</li>
              </ul>
              <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/San_Teodoro,_Oriental_Mindoro"</p>
              <h3 class="fs-6">TVIs in San Teodoro</h3>
              <ul>
                <li>Oriental Mindoro Provincial Training Center - San Teodoro</li>
              </ul>
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>