
<div class="modal fade modal-xl" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModal6" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Municipality of Victoria</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Victoria, officially the Municipality of Victoria (Tagalog: Bayan ng Victoria, Ilocano: Ili ti Victoria), is a 2nd class municipality in the province of Oriental Mindoro, Philippines. According to the 2020 census, it has a population of 52,175 people.
            <br><br>
            The Municipality of Victoria is known as "Fruit Basket of Oriental Mindoro" and celebrates its annual Kapakyanan Festival every October 15 as graces and thanks giving for the bountiful blessings that every Victoreños received from God. It is 36 kilometres (22 mi) from Calapan.
            <br><br>
            <b>History</b>
            <br>
            Victoria was once part of the municipality of Naujan until its creation on October 15, 1953, and was originally known as Barbocolon or “a big river”.
            <br><br>
            The municipality was named after Victoria Quirino, daughter of President Elpidio Quirino.
            <br><br>
            <b>Geography</b>
            <table class="table table-dark table-striped table-hover">
              <tbody>
                <tr>
                  <th>Population</th>
                  <th>52,175 as of 2020 census</th>
                </tr>
                <tr>
                  <th>Households</th>
                  <th>12,250</th>
                </tr>
                <tr>
                  <th>Total Area</th>
                  <th>146.23 km2 (56.46 sq mi)</th>
                </tr>
              </tbody>
            </table>
            <b>Barangays</b>
            <br>
            Victoria is politically subdivided into 32 barangays. Each barangay consists of puroks and some have sitios.
            <br><br>
            Currently, there are 6 barangays which classified as urban (highlighted in bold).
            <ul>
              <li>Alcate</li>
              <li>Antonino (Mainao)</li>
              <li>Babangonan</li>
              <li>Bagong Buhay</li>
              <li>Bagong Silang</li>
              <li>Bambanin</li>
              <li>Bethel</li>
              <li>Canaan</li>
              <li>Conception</li>
              <li>Duongan</li>
              <li>Leido</li>
              <li>Loyal</li>
              <li>Mabini</li>
              <li>Macatoc</li>
              <li>Malabo</li>
              <li>Merit</li>
              <li>Ordovilla</li>
              <li>Pakyas</li>
              <li>Poblacion I</li>
              <li>Poblacion II</li>
              <li>Poblacion III</li>
              <li>Poblacion IV</li>
              <li>Sampaguita</li>
              <li>San Antonio</li>
              <li>San Cristobal</li>
              <li>San Gabriel</li>
              <li>San Gelacio</li>
              <li>San Isidro</li>
              <li>San Juan</li>
              <li>San Narciso</li>
              <li>Urdaneta</li>
              <li>Villa Cerveza</li>
            </ul>
          </p>
          <p style="font-style: italic;">Source: "https://en.wikipedia.org/wiki/Victoria,_Oriental_Mindoro"</p>
          <h3 class="fs-6">TVis in Victoria</h3>
          <ul>
            <li>ACMCL College Inc.</li>
            <li>Artemisium Integrated School</li>
            <li>Equias Integrated Eco Farm</li>
            <li>Equias Science and Technology Institute Inc.</li>
            <li>Feathers and Green Integrated Farm</li>
            <li>Lakeside Agricultural Learning Center Inc.</li>
            <li>Mina De Oro Institute of Science & Technology Inc.</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>